html {
    min-height: 100%
  }

body {
    background-image: url("../images/bg1.png");
    background-repeat: repeat-x;
    overflow-x: hidden;

}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Bookman Old style'fantasy;
  font-size: 80px;
}

.intro {
  margin: 50px auto;
  padding-top: 75px;
}


.item {
  margin: 50px auto;
  padding-top: 75px;
}

.box {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  color: #000;
}


.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a6d75;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
